[submodule "strap"]
	path = strap
	url = https://github.com/MikeMcQuaid/strap.git
[submodule "home/oh-my-zsh"]
	path = home/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "themes"]
	path = themes
	url = git@github.com:mbadolato/iTerm2-Color-Schemes.git
